In [1]:
import pandas as pd

In [13]:
from langchain.prompts import ChatPromptTemplate, PromptTemplate
from langchain.output_parsers import ResponseSchema
from langchain.output_parsers import StructuredOutputParser
from langchain.chat_models import ChatOpenAI
from langchain.llms import OpenAI

In [3]:
tableA = pd.read_csv('table_B.csv')
tableB = pd.read_csv('table_B.csv')

In [4]:
template = pd.read_csv('template.csv')

In [5]:
tableA.head()

,PolicyDate,Name,PlanType,Policy_ID,PremiumAmount,Hobby,MaritalStatus,StartDate,Employee_Name,Plan_Name,PolicyID,Cost
0,2023-05-01,Doe,John,GoldPackage,AB12345,Photography,Married,2023-05-01,John Doe,Gold,AB12345,150
1,2023-05-02,Smith,Jane,SilverPackage,CD67890,Reading,Single,2023-05-02,Jane Smith,Silver,CD67890,100
2,2023-05-03,Brown,Michael,BronzePackage,EF10111,Traveling,Divorced,2023-05-03,Michael Brown,Bronze,EF10111,50
3,2023-05-04,Johnson,Alice,GoldPackage,GH12121,Cooking,Married,2023-05-04,Alice Johnson,Gold,GH12121,150
4,2023-05-05,Wilson,Bob,SilverPackage,IJ13131,Hiking,Single,2023-05-05,Bob Wilson,Silver,IJ13131,100

In [6]:
template.head()

         Date   EmployeeName    Plan PolicyNumber  Premium
0  01-05-2023       John Doe    Gold      AB12345      150
1  02-05-2023     Jane Smith  Silver      CD67890      100
2  03-05-2023  Michael Brown  Bronze      EF10111       50
3  04-05-2023  Alice Johnson    Gold      GH12121      150
4  05-05-2023     Bob Wilson  Silver      IJ13131      100

In [7]:
import openai
openai.api_key = "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"

In [58]:
chat = ChatOpenAI(temperature=0.2)

# 1st prompt section for similar columns

In [47]:
task_template = """\
For the following Reference table and Candidate table, perform tasks as instructed:
Instruction:
Reference_table_column: reference table column name

Candidate_table_similar_columns: for the column in reference table \
extract most similar columns based on column name and value similarty and return the items in a list. \
If you don't find any similar column return empty list.

Reason: State the reason behind the similarity and return as a string

format the output as JSON object with the following keys:
Reference_table_column
Candidate_table_similar_columns
Reason

Reference table: {reference_table}
Candidate table: {candidate_table}

"""

In [48]:
prompt_template = PromptTemplate(input_variables=['reference_table', 'candidate_table'], template=task_template)

In [49]:
message = prompt_template.format(reference_table = template.head()[['Date']], candidate_table=tableA.head())

In [50]:
print(message)

For the following Reference table and Candidate table, perform tasks as instructed:
Instruction:
Reference_table_column: reference table column name

Candidate_table_similar_columns: for the column in reference table extract most similar columns based on column name and value similarty and return the items in a list. If you don't find any similar column return empty list.

Reason: State the reason behind the similarity and return as a string

format the output as dict object with the following keys:
Reference_table_column
Candidate_table_similar_columns
Reason

Reference table:          Date
0  01-05-2023
1  02-05-2023
2  03-05-2023
3  04-05-2023
4  05-05-2023
Candidate table:    PolicyDate     Name  PlanType      Policy_ID PremiumAmount        Hobby
0  2023-05-01      Doe      John    GoldPackage       AB12345  Photography  \
1  2023-05-02    Smith      Jane  SilverPackage       CD67890      Reading
2  2023-05-03    Brown   Michael  BronzePackage       EF10111    Traveling
3  2023-05-04  Johnson     Alice    GoldPackage       GH12121      Cooking
4  2023-05-05   Wilson       Bob  SilverPackage       IJ13131       Hiking

  MaritalStatus   StartDate  Employee_Name Plan_Name PolicyID  Cost
0       Married  2023-05-01       John Doe      Gold  AB12345   150
1        Single  2023-05-02     Jane Smith    Silver  CD67890   100
2      Divorced  2023-05-03  Michael Brown    Bronze  EF10111    50
3       Married  2023-05-04  Alice Johnson      Gold  GH12121   150
4        Single  2023-05-05     Bob Wilson    Silver  IJ13131   100

In [51]:
output = chat(message)

In [55]:
prompt_template = ChatPromptTemplate.from_template(task_template)

In [56]:
messages = prompt_template.format_messages(candidate_table=tableA, reference_table=template.head()['Date'])

In [59]:
response = chat(messages)

In [64]:
print(response.content)

{
    "Reference_table_column": "Date",
    "Candidate_table_similar_columns": ["PolicyDate", "StartDate"],
    "Reason": "The columns 'PolicyDate' and 'StartDate' in the candidate table have similar names and represent dates, which makes them similar to the 'Date' column in the reference table."
}

# with response schema

In [65]:
reference_schema = ResponseSchema(name="Reference_table_column",
                             description="reference table column name")
similar_col_schema = ResponseSchema(name="Candidate_table_similar_columns",
                                   description="for the column in reference table \
extract most similar columns based on column name and value similarty and return the items in a list. \
If you don't find any similar column return empty list.")

reason_schema = ResponseSchema(name="Reason", description="Return the reason behind the similarity of the columns")
response_schema = [reference_schema, similar_col_schema, reason_schema]

In [66]:
output_parser = StructuredOutputParser.from_response_schemas(response_schema)

In [67]:
format_instructions = output_parser.get_format_instructions()

In [68]:
print(format_instructions)

The output should be a markdown code snippet formatted in the following schema, including the leading and trailing "\`\`\`json" and "\`\`\`":

```json
{
	"Reference_table_column": string  // reference table column name
	"Candidate_table_similar_columns": string  // for the column in reference table extract most similar columns based on column name and value similarty and return the items in a list. If you don't find any similar column return empty list.
	"Reason": string  // Return the reason behind the similarity of the columns
}
```

In [83]:
task_template2 = """\
For the following Reference table and Candidate table, perform tasks as instructed:
Instruction:
Reference_table_column: reference table column name

Candidate_table_similar_columns: for the column in reference table \
extract most similar columns strictly on same type of values for each candidate column data and return the items in a list. \
check the value distribution for each candidate column while making decision.

Reason: State the reason behind the similarity and return as a string

Reference table: {reference_table}
Candidate table: {candidate_table}

format the output as JSON object with the following keys:
Reference_table_column
Candidate_table_similar_columns
Reason

"""

In [84]:
prompt_template = ChatPromptTemplate.from_template(template=task_template2)

In [85]:
messages = prompt_template.format_messages(candidate_table=tableA, reference_table=template.head()['Premium'])

In [86]:
response = chat(messages)

In [87]:
output_dict = output_parser.parse(response.content)

In [88]:
output_dict

{'Reference_table_column': 'Premium',
 'Candidate_table_similar_columns': ['PremiumAmount', 'Cost'],
 'Reason': "The columns 'PremiumAmount' and 'Cost' in the candidate table have similar values to the 'Premium' column in the reference table. They represent the amount of premium for each policy and have the same data type (integer)."}

# prompt for transforamtion

In [40]:
output_dict

{'Reference_table_column': 'PolicyNumber',
 'Candidate_table_similar_columns': ['Policy_No', 'Policy_Num'],
 'Reason': "The columns 'Policy_No' and 'Policy_Num' in the candidate table have similar names and values as the 'PolicyNumber' column in the reference table. They both represent the policy number associated with each entry."}

In [41]:
ref = output_dict.get('Reference_table_column')

In [42]:
cand = output_dict.get('Candidate_table_similar_columns')

In [43]:
ref

'PolicyNumber'

In [44]:
cand

['Policy_No', 'Policy_Num']

In [45]:
code_schema = ResponseSchema(name='python_script', description='return python script as a string with indentation')

In [46]:
output_schema = ResponseSchema(name='transformed_values', description='return the values in a list')

In [47]:
response_schema_code = [code_schema, output_schema]

In [48]:
output_parser_code = StructuredOutputParser.from_response_schemas(response_schema_code)

In [49]:
format_instructions_code = output_parser_code.get_format_instructions()

In [89]:
task_template_python = """\
For the following Reference list and Candidate list, perform tasks as instructed:
Instruction:
python_script: python script to transform data in candidate list \
to reference list items format

transformed_values: apply the script to the candidate data and return the transformed values in a list


Reference list: {reference_list}
Candidate list: {candidate_list}

{format_instructions_code}

"""

In [90]:
prompt = ChatPromptTemplate.from_template(template=task_template_python)

In [91]:
messages = prompt.format_messages(reference_list=template[ref].to_list(), candidate_list=tableA[cand[0]].to_list(), format_instructions_code=format_instructions_code)

In [99]:
messages

[HumanMessage(content='For the following Reference list and Candidate list, perform tasks as instructed:\nInstruction:\npython_script: python script to transform data in candidate list to reference list items format\n\ntransformed_values: apply the script to the candidate data and return the transformed values in a list\n\n\nReference list: [\'AB12345\', \'CD67890\', \'EF10111\', \'GH12121\', \'IJ13131\', \'KL14141\', \'MN15151\', \'OP16161\', \'QR17171\', \'ST18181\']\nCandidate list: [\'AB-12345\', \'CD-67890\', \'EF-10111\', \'GH-12121\', \'IJ-13131\', \'KL-14141\', \'MN-15151\', \'OP-16161\', \'QR-17171\', \'ST-18181\']\n\nThe output should be a markdown code snippet formatted in the following schema, including the leading and trailing "\\`\\`\\`json" and "\\`\\`\\`":\n\n```json\n{\n\t"python_script": string  // return python script as a string with indentation\n\t"transformed_values": string  // return the values in a list\n}\n```\n\n', additional_kwargs={}, example=False)]

In [92]:
response = chat(messages)

In [93]:
print(response.content)

```json
{
	"python_script": "def transform_data(candidate_list):\n    reference_list = []\n    for item in candidate_list:\n        reference_list.append(item.replace('-', ''))\n    return reference_list",
	"transformed_values": ["AB12345", "CD67890", "EF10111", "GH12121", "IJ13131", "KL14141", "MN15151", "OP16161", "QR17171", "ST18181"]
}
```

In [94]:
output_dict = output_parser_code.parse(response.content)

In [95]:
output_dict

{'python_script': "def transform_data(candidate_list):\n    reference_list = []\n    for item in candidate_list:\n        reference_list.append(item.replace('-', ''))\n    return reference_list",
 'transformed_values': ['AB12345',
  'CD67890',
  'EF10111',
  'GH12121',
  'IJ13131',
  'KL14141',
  'MN15151',
  'OP16161',
  'QR17171',
  'ST18181']}

In [96]:
output_dict['python_script']

"def transform_data(candidate_list):\n    reference_list = []\n    for item in candidate_list:\n        reference_list.append(item.replace('-', ''))\n    return reference_list"